<h1>Tasks List</h1>

<div class="mb-5">
  <span><%= link_to("New Task", new_task_path, class: "btn btn-primary") %></span>
  <span><%= link_to("Logout", destroy_user_session_path, method: :delete, class: "btn btn-primary") %></span>
</div>

<% flash.each do |type, msg| %>
    <div class="alert alert-info">
      <%= msg %>
    </div>
<% end %>

<% if @tasks.any? %>
  <%= render "task_list" %>
<% else %>
  <h3> There is no tasks. Please click <%= link_to "New Task", new_task_path, class: "btn btn-primary" %> button to create task. </h3>
<% end %>
